/* TO DO:

*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

:focus,
:active {
  outline: none;
}

button,
input,
textarea {
  font-family: inherit;
}

button,
input[type=submit],
input[type=reset] {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

ul {
  list-style: none;
}

.svg-sprite {
  width: 0;
  height: 0;
  overflow: hidden;
}

.noscript-alert {
  position: fixed !important;
  bottom: 0 !important;
  z-index: 999 !important;
  width: 100% !important;
  padding: 24px !important;
  background-color: #ddd !important;
  -webkit-box-shadow: 0 -2px 7px 0 #333 !important;
  box-shadow: 0 -2px 7px 0 #333 !important;
  text-align: center !important;
  font-family: Arial, sans-serif !important;
  font-size: 18px !important;
  line-height: 26px !important;
  color: black !important;
}

.noscript-alert a,
.noscript-alert a:visited {
  text-decoration: underline !important;
  color: blue !important;
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  font-family: "iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e901";
}

.icon-search:before {
  content: "\e902";
}

.icon-star:before {
  content: "\e903";
}

.icon-arrow:before {
  content: "\e900";
}

.icon-bars:before {
  content: "\e904";
}

.icon-lock:before {
  content: "\e98f";
}

@font-face {
  font-family: "Segoe";
  font-display: swap;
  src: local("Segoe"), url("../fonts/Segoe-Bold.woff2") format("woff2"), url("../fonts/Segoe-Bold.woff") format("woff"), url("../fonts/Segoe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Segoe";
  font-display: swap;
  src: local("Segoe"), url("../fonts/Segoe-Semibold.woff2") format("woff2"), url("../fonts/Segoe-Semibold.woff") format("woff"), url("../fonts/Segoe-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Segoe";
  font-display: swap;
  src: local("Segoe"), url("../fonts/Segoe-Light.woff2") format("woff2"), url("../fonts/Segoe-Light.woff") format("woff"), url("../fonts/Segoe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Segoe";
  font-display: swap;
  src: local("Segoe"), url("../fonts/Segoe-Reg.woff2") format("woff2"), url("../fonts/Segoe-Reg.woff") format("woff"), url("../fonts/Segoe-Reg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@-webkit-keyframes image-loading {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes image-loading {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.image-loader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: image-loading 1s infinite linear;
  animation: image-loading 1s infinite linear;
  border: 4px solid silver;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.header {
  width: 100%;
  background-color: #fff;
}

.header__logo {
  margin-top: 4px;
}

.header__print-address {
  display: none;
}

.header-top {
  background-color: #424242;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-top__link,
.header-top__link:visited {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #ddd;
}

.header-top__link:hover,
.header-top__link:visited:hover {
  color: #fff;
}

.header-top__link:not(:last-child),
.header-top__link:visited:not(:last-child) {
  margin-right: 25px;
}

.header-main {
  padding: 20px 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.08)), to(rgba(255, 255, 255, 0.08)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.08), rgba(255, 255, 255, 0.08));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.08), rgba(255, 255, 255, 0.08));
}

.header-main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-main__search {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 458px;
  flex: 1 1 458px;
  margin: 0 15px;
}

.header-main__wishlist {
  margin: 0 6px;
}

.logo__link,
.logo__link:visited {
  font-size: 0;
}

.logo img {
  height: 74px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search__bar {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 458px;
  flex: 0 1 458px;
  height: 40px;
  border-radius: 2px;
  background-color: #79b260;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 50px;
  margin: 3px 0 3px 5px;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 20px;
  color: #333;
}

.search__btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 124px;
  flex: 0 0 124px;
  color: #fff;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__btn:hover {
  color: #ddd;
}

.search__btn i {
  font-size: 25px;
}

.search__btn span {
  font-size: 23px;
  margin-bottom: 3px;
  margin-left: 6px;
}

.cart {
  padding: 0 6px;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  color: #6d6d6d;
}

.cart__top,
.cart__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 0.5em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.cart .icon-cart {
  color: #79b260;
  font-size: 1.8125em;
}

.cart__info {
  font-size: 1.4375em;
}

.cart__items {
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 0.8125em;
  margin-bottom: 0.1875em;
}

.cart__total {
  font-weight: 700;
  font-size: 1.6875em;
}

.cart__button,
.cart__button:visited {
  display: inline-block;
  width: 5.0625em;
  height: 1.625em;
  -webkit-box-shadow: inset 0.5px 0.9px 0 0 rgba(118, 118, 118, 0.75);
  box-shadow: inset 0.5px 0.9px 0 0 rgba(118, 118, 118, 0.75);
  border: solid 1px #232323;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#242424), to(#424242));
  background-image: -o-linear-gradient(bottom, #242424, #424242);
  background-image: linear-gradient(to top, #242424, #424242);
  color: #ddd;
  font-size: 0.9375em;
  text-align: center;
}

.wishlist__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2px;
  position: relative;
  padding: 0 0.625em;
}

.wishlist__link i {
  font-size: 1.625em;
  color: #424242;
}

.wishlist__text {
  font-size: 1.3125em;
  color: #6d6d6d;
  white-space: nowrap;
}

.wishlist__num {
  position: absolute;
  bottom: 1.6875em;
  right: 0;
  display: inline-block;
  background-color: #79b260;
  color: #fff;
  padding: 0 0.4375em;
  border-radius: 0.625em;
  font-size: 0.8125em;
  line-height: 1;
  padding-top: 0.0625em;
  padding-bottom: 0.125em;
}

.menu {
  height: calc(100% - 110px);
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}

.menu__container {
  max-width: 1000px;
  padding: 0;
  height: 100%;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  scrollbar-width: none;
}

.menu__items::-webkit-scrollbar {
  width: 0;
}

.menu__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.menu__link,
.menu__link:visited {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  white-space: nowrap;
  text-align: center;
  background-color: transparent;
}

.menu__link:hover,
.menu__link:visited:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#79b260), to(#92d774));
  background-image: -o-linear-gradient(bottom, #79b260, #92d774);
  background-image: linear-gradient(to top, #79b260, #92d774);
  color: #fff;
}

.this-page,
.this-page:visited {
  pointer-events: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#79b260), to(#92d774));
  background-image: -o-linear-gradient(bottom, #79b260, #92d774);
  background-image: linear-gradient(to top, #79b260, #92d774);
  color: #fff;
}

.menu-open-btn {
  width: 30px;
  height: 30px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.menu-open-btn:before,
.menu-open-btn:after,
.menu-open-btn span {
  content: "";
  width: 150%;
  height: 6px;
  background-color: #444;
  position: absolute;
  left: -1px;
  -webkit-transform-origin: 4px;
  -ms-transform-origin: 4px;
  transform-origin: 4px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu-open-btn:before {
  top: 0;
}

.menu-open-btn:after {
  bottom: 0;
}

.menu-open-btn span {
  top: 12px;
}

.menu-open-btn._active:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-open-btn._active:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-open-btn._active span {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.footer {
  font-weight: 300;
  color: #ddd;
}

.footer-top {
  padding: 20px 0 25px;
  background-image: url("../img/$footer-bg-1.jpg");
}

.footer-top__container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 20px;
}

.footer-top__radio {
  display: none;
}

.footer-top__radio:checked + label .footer-top__items {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer-top__radio:checked + label i {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.footer-top__title {
  font-size: 20px;
}

.footer-top__title i {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.footer-top__items {
  padding-top: 18px;
  margin-bottom: 18px;
}

.footer-top__item {
  font-size: 14px;
  line-height: 25px;
  opacity: 0.8;
  position: relative;
  padding-left: 2px;
}

.footer-top__item a {
  white-space: nowrap;
}

.footer-top__item a:hover {
  color: #fff;
}

.footer-top__item:not(:last-child) a:after {
  content: "";
  display: block;
  width: 172px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(220, 220, 220, 0.15);
}

.footer-bottom {
  padding-top: 22px;
  background-image: url("../img/$footer-bg-2.jpg");
}

.footer-bottom__banking-title {
  padding: 0 15px;
  font-size: 20px;
  text-align: center;
}

.footer-bottom__banking-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3px;
  margin-top: 9px;
  margin-bottom: 13px;
}

.footer-bottom__banking-logos img {
  width: 43px;
  height: 25px;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer-bottom__copy {
  padding: 15px;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid rgba(220, 220, 220, 0.15);
}

.comment-form {
  max-width: 654px;
  display: grid;
  grid-template-columns: 84px minmax(auto, 545px);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  position: relative;
}

.comment-form__label {
  font-size: 16px;
  text-align: right;
  color: #a2a2a2;
  white-space: nowrap;
}

.comment-form__input,
.comment-form__texa {
  width: 100%;
  max-width: 545px;
  border: solid 1px #e2e2e2;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: #555;
}

.comment-form__input._error,
.comment-form__texa._error {
  border-color: red;
}

.comment-form__input {
  margin-bottom: 14px;
  height: 29px;
  -webkit-box-shadow: inset 0 1000px 0 #fff;
  box-shadow: inset 0 1000px 0 #fff;
}

.comment-form__input::-webkit-input-placeholder {
  color: inherit;
}

.comment-form__input::-moz-placeholder {
  color: inherit;
}

.comment-form__input:-ms-input-placeholder {
  color: inherit;
}

.comment-form__input::-ms-input-placeholder {
  color: inherit;
}

.comment-form__input::placeholder {
  color: inherit;
}

.comment-form__texa {
  resize: none;
  height: 127px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.comment-form__btn {
  grid-column: 2;
  margin: 15px 0 0 auto;
  width: 97px;
  height: 38px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#79b260), to(#92d774));
  background-image: -o-linear-gradient(bottom, #79b260, #92d774);
  background-image: linear-gradient(to top, #79b260, #92d774);
  border-radius: 3px;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.comment-form__btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#79b260), to(#92d774));
  background-image: -o-linear-gradient(top, #79b260, #92d774);
  background-image: linear-gradient(to bottom, #79b260, #92d774);
}

.comment-form__btn .progress {
  position: absolute;
  top: 0;
  left: 0;
}

._sending .comment-form__btn .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._sending {
  position: relative;
}

._sending:before {
  content: "";
  background-color: transparent;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.form-report {
  position: absolute;
  top: -25px;
  left: 0;
  display: block;
  text-align: center;
  width: 100%;
  height: 18px;
  font-size: 14px;
  margin-bottom: 10px;
  visibility: hidden;
}

.form-report.ok,
.form-report.er {
  visibility: visible;
}

.form-report.ok {
  color: green;
}

.form-report.er {
  color: red;
}

@-webkit-keyframes progress-animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes progress-animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

.progress {
  width: 100%;
  height: 100%;
  background-color: inherit;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.progress__box {
  width: 80px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
}

.progress__box i {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  height: 10px;
  background-color: #555;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-animation: progress-animation 0.8s infinite alternate ease-in;
  animation: progress-animation 0.8s infinite alternate ease-in;
}

.progress__box i:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.progress__box i:nth-of-type(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.select {
  width: 145px;
  height: 31px;
  background-color: #fff;
  border-right: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
  cursor: pointer;
  padding: 0;
}

.select select {
  display: none;
}

.select__header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 0.5px 0.9px 0 #fff;
  font-size: 17px;
  line-height: 39px;
  color: #6b6969;
}

.select__header-text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 12px;
  white-space: nowrap;
  overflow: hidden;
}

.select__header-icon {
  margin-right: 8px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 10px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.select__header-icon i {
  font-size: 13px;
}

.select__list-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.select__list-wrapper._active {
  visibility: visible;
}

.select__list {
  overflow: hidden;
  border: solid 3px #79b260;
  background-color: #fff;
}

.select__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  height: 45px;
  padding: 0 12px;
  white-space: nowrap;
  overflow: hidden;
}

.select__option._selected,
.select__option:hover {
  background-color: #ddd;
}

.tabs__buttons {
  font-size: 0;
}

.tabs__btn {
  height: 35px;
  line-height: 35px;
  margin-right: 9px;
  border-top: solid 1px #dedede;
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  cursor: pointer;
  padding: 0 17px;
  font-size: 16px;
  color: #fff;
  background-color: #C2C2C2;
  position: relative;
}

.tabs__btn._active {
  pointer-events: none;
  height: 38px;
  line-height: 38px;
  padding: 0 26px;
  font-size: 18px;
  color: #7e7e7e;
  background-color: #fff;
}

.tabs__btn._active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.tabs__content {
  height: calc(100% - 36px);
  margin-top: -1px;
  padding: 18px 29px;
  border: solid 1px #dedede;
  border-radius: 0 3px 5px 5px;
  font-size: 14px;
  line-height: 1.86;
  color: #7e7e7e;
}

.tabs__content-item {
  display: none;
}

.tabs__content-item._active {
  display: block;
}

body {
  background-color: #fff;
  font-family: Segoe, Arial, sans-serif;
  color: #444;
  --timer-menu: 0.5s;
  --timer-modal: 0.7s;
}

body._locked {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1030px;
  min-width: calc(320px - (100vw - 100%));
  margin: 0 auto;
  padding: 0 15px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.content__banner {
  margin-top: 14px;
}

.content__catalog {
  margin-top: 14px;
  margin-bottom: 25px;
}

.content__breadcrumbs {
  margin-top: 9px;
}

.content__product-card {
  margin-top: 9px;
}

.content__product-other {
  margin-top: 14px;
  margin-bottom: 20px;
}

.banner__container {
  height: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

.banner__swiper {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 714px;
  flex: 0 1 714px;
  height: 100%;
}

.banner__ad {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 269px;
  flex: 0 1 269px;
  height: 100%;
}

.banner__ad-link,
.banner__ad-link:visited {
  display: block;
  height: 100%;
}

.banner__ad-link img,
.banner__ad-link:visited img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper {
  background-color: #eee;
}

.swiper__slide-link,
.swiper__slide-link:visited {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swiper__slide-link img,
.swiper__slide-link:visited img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  width: 38px;
  height: 38px;
  margin-top: -19px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.46);
  color: #000;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ddd;
}

.swiper-button-prev i,
.swiper-button-next i {
  font-size: 24px;
}

.swiper-button-prev {
  left: 12px;
}

.swiper-button-prev i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 4px;
  margin-bottom: 2px;
}

.swiper-button-next {
  right: 12px;
}

.swiper-button-next i {
  margin-left: 4px;
  margin-top: 2px;
}

.catalog {
  position: relative;
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 9px;
}

.catalog__side-menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 188px;
  flex: 0 0 188px;
  margin-top: 1px;
}

.catalog__select {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 3;
  height: 50px;
}

.catalog__cat-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.side-menu {
  border: solid 1px #dedede;
}

.side-menu__header {
  padding-left: 18px;
  font-size: 24.3px;
  font-weight: 300;
  line-height: 44px;
  color: #6b6969;
}

.side-menu__header i {
  display: inline-block;
  font-size: 15px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 10px;
}

.side-menu__group.span2 {
  grid-row: span 2;
}

.side-menu__group-title,
.side-menu__group-title:visited {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.86;
  color: #696969;
  padding-left: 20px;
}

.side-menu__item {
  font-size: 15.3px;
  font-weight: normal;
  line-height: 1.74;
  color: #555454;
}

.side-menu a,
.side-menu a:visited {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
}

.side-menu a:after,
.side-menu a:visited:after {
  content: "";
  display: block;
  width: 139px;
  height: 100%;
  border-bottom: 1px solid #E6E7E8;
}

.side-menu a:hover,
.side-menu a.this-page,
.side-menu a:visited:hover,
.side-menu a:visited.this-page {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#79b260), to(#92d774));
  background-image: -o-linear-gradient(bottom, #79b260, #92d774);
  background-image: linear-gradient(to top, #79b260, #92d774);
  color: #fff;
}

.side-menu a:hover:after,
.side-menu a.this-page:after,
.side-menu a:visited:hover:after,
.side-menu a:visited.this-page:after {
  border-color: transparent;
}

.side-menu a.side-menu__group-title,
.side-menu a.side-menu__group-title:visited {
  padding-left: 20px;
}

.side-menu a.side-menu__group-title:after,
.side-menu a.side-menu__group-title:visited:after {
  border-color: transparent;
}

.cat-tabs {
  width: 100%;
  margin-top: 40px;
  border: solid 1px #dedede;
  position: relative;
}

.cat-tabs__panel {
  position: absolute;
  top: -40px;
  left: -1px;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: solid 1px #dedede;
  border-left: solid 1px #dedede;
}

.cat-tabs__panel-item {
  width: 140px;
  text-shadow: 0.5px 0.9px 0 #fff;
  font-size: 17px;
  line-height: 39px;
  color: #6b6969;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.08)), to(rgba(255, 255, 255, 0.08)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.08), rgba(255, 255, 255, 0.08));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.08), rgba(255, 255, 255, 0.08));
  text-align: center;
  border-right: solid 1px #dedede;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cat-tabs__panel-item._active {
  background: none;
  font-size: 18.3px;
  font-weight: 600;
  color: #464646;
  pointer-events: none;
  position: relative;
}

.cat-tabs__panel-item._active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.cat-tabs__panel-item:not(._active):hover {
  text-shadow: 0 0 1px #464646;
}

.gridslider {
  position: relative;
}

.gridslider__slider {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

.gridslider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
}

.gridslider__slide {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 14px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 12px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gridslider__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gridslider__nav {
  position: absolute;
  bottom: 0;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 30px;
}

.gridslider__nav._hidden {
  display: none;
}

.gridslider__pagination {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 14px;
}

.gridslider__btn-more {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 5px 15px;
  color: #646464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  border: solid 1px #dedede;
  position: relative;
}

.gridslider__btn-more:after {
  content: "";
  display: inline-block;
  width: calc(100% + 2px);
  height: 4px;
  background-color: #79b260;
  position: absolute;
  bottom: -1px;
  left: -1px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 195px;
  overflow: hidden;
  position: relative;
}

.pagination__main {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.pagination__suffix {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 15px 0 0;
  width: 24px;
  height: 28px;
  padding-top: 1px;
  background-color: #fff;
  border: solid 1px transparent;
  font-weight: 600;
  font-size: 16px;
  color: #646464;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.pagination__button:hover {
  color: #79b260;
}

.pagination__button:before {
  content: "...";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: inherit;
  visibility: hidden;
  -webkit-transition: visibility 0.5s;
  -o-transition: visibility 0.5s;
  transition: visibility 0.5s;
}

.pagination__button._active {
  pointer-events: none;
  border-color: #dedede;
  position: relative;
}

.pagination__button._active:after {
  content: "";
  display: inline-block;
  width: calc(100% + 2px);
  height: 4px;
  background-color: #79b260;
  position: absolute;
  bottom: -1px;
  left: -1px;
}

.pagination__button._inactive {
  pointer-events: none;
}

.pagination__button._inactive:before {
  visibility: visible;
}

#books-data-pattern {
  display: none;
}

.product__link {
  display: inline-block;
  max-width: 8.625em;
  padding: 10px 10px 0;
  position: relative;
}

.product__cover {
  display: block;
  width: 6.75em;
  height: 10em;
  background-color: #fff;
  border-radius: 7px;
  margin: 0 auto;
  padding: 0.3125em;
  -webkit-box-shadow: 0 0 9px -3px #777;
  box-shadow: 0 0 9px -3px #777;
}

.product__cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product__link:hover .product__cover {
  -webkit-box-shadow: 0 0 10px -2px #555;
  box-shadow: 0 0 10px -2px #555;
}

.product__offer {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.125em;
  height: 3.125em;
  background-color: #f05356;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  line-height: 1.0625em;
  padding-top: 0.3125em;
}

.product__offer span:first-child {
  font-weight: 700;
  font-size: 1.1875em;
}

.product__offer span:last-child {
  font-size: 0.8125em;
}

.product__offer._hidden {
  display: none;
}

.product__title {
  margin-top: 0.5em;
  font-size: 0.9375em;
  line-height: 1.07;
  color: #646464;
  text-align: center;
}

.product__price {
  margin-top: 0.4375em;
  font-size: 1.375em;
  font-weight: 600;
  line-height: 0.92;
  color: #f05356;
  text-align: center;
}

.breadcrumbs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  min-height: 29px;
  padding: 0 17px 2px;
  border: solid 1px #dedede;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 #dedede;
  box-shadow: 0 0 5px 0 #dedede;
  cursor: default;
}

.breadcrumbs__link,
.breadcrumbs__link:visited,
.breadcrumbs__this {
  display: inline-block;
  white-space: nowrap;
  text-transform: capitalize;
  font-size: 16px;
  color: #a6a6a6;
  cursor: pointer;
}

.breadcrumbs__this {
  cursor: default;
}

.breadcrumbs__devider {
  font-size: 22px;
  line-height: 20px;
  color: #777;
  margin-bottom: 3px;
}

.product-card__wrapper {
  padding: 2.8% 3.1%;
  border: solid 1px #dedede;
  border-radius: 8px;
  display: grid;
  grid-template-columns: minmax(130px, 25%) auto;
  grid-column-gap: 4%;
  grid-row-gap: 18px;
  position: relative;
}

.product-card__image {
  grid-row: span 3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 0;
}

.product-card__image img {
  border: solid 1px #dedede;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.product-card__title {
  max-width: calc(100% - 50px);
  font-size: 40px;
  font-weight: 300;
  color: #595959;
}

.product-card__icon {
  position: absolute;
  top: 20px;
  right: 15px;
  margin-top: 5px;
  color: #817f7f;
  white-space: nowrap;
  font-family: Arial;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  background-color: #fff;
}

.product-card__icon:before {
  content: "";
  display: inline-block;
  width: 3em;
  height: 3em;
  background-color: #dedede;
  border-radius: 50%;
  position: absolute;
  top: -0.9em;
  left: calc(50% - 1.5em);
  z-index: -1;
}

.product-card__info {
  font-size: 16px;
  line-height: 1.63;
  color: #7e7e7e;
}

.product-card__cart {
  max-width: 610px;
  border: solid 1px #dedede;
  padding: 1.97% 3.28%;
}

.product-card__cart-top {
  padding: 0 7px 27px;
  margin-bottom: 7px;
  border-bottom: 1px solid #dedede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.product-card__price-box {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 36px;
}

.product-card__price-text {
  white-space: nowrap;
  color: #015699;
}

.product-card__price {
  margin-left: 8px;
  font-weight: bold;
  color: #e45858;
}

.product-card__discount {
  grid-column: span 2;
  font-size: 17px;
  color: #939292;
  white-space: nowrap;
}

.product-card__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 197px;
  flex: 0 1 197px;
  margin-top: 17px;
  min-width: 145px;
  height: 42px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#79b260), to(#92d774));
  background-image: -o-linear-gradient(bottom, #79b260, #92d774);
  background-image: linear-gradient(to top, #79b260, #92d774);
  font-family: Arial;
  font-size: 23px;
  font-weight: bold;
  color: #fff;
}

.product-card__button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#79b260), to(#92d774));
  background-image: -o-linear-gradient(top, #79b260, #92d774);
  background-image: linear-gradient(to bottom, #79b260, #92d774);
}

.product-card__banking {
  margin-left: 12px;
  font-size: 13px;
  color: #939292;
}

.product-card__banking-logos {
  margin-top: 5px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}

.product-other {
  display: grid;
  grid-template-columns: auto 248px;
  grid-column-gap: 16px;
  grid-row-gap: 17px;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.comments-block {
  height: 100%;
  padding: 12px 26px;
  border: solid 1px #dedede;
  border-radius: 5px;
}

.comments-block__title {
  font-size: 20px;
  color: #7e7e7e;
}

.comments-block__comment-form {
  margin-top: 25px;
}

.comment {
  display: grid;
  grid-template-columns: 63px auto;
  grid-template-rows: 69px;
  grid-column-gap: 15px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding: 10px 0;
}

.comment:not(:last-child) {
  border-bottom: 1px solid #dedede;
}

.comment__user-img {
  margin-top: 5px;
}

.comment__user-img img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.comment__user-name {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
  color: #a2a2a2;
}

.comment__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  grid-column: 2;
  grid-row: 1/span 2;
  font-size: 13px;
  line-height: 1.62;
  color: #7e7e7e;
}

.also-like {
  border: solid 1px #dedede;
  border-radius: 5px;
}

.also-like__title {
  padding: 12px 14px 0;
  font-size: 18px;
  color: #7e7e7e;
}

.also-like__items {
  margin-top: 10px;
}

.also-like__item,
.also-like__item:visited {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 12px;
  padding: 10px 12px;
}

.also-like__item-img {
  grid-row: span 3;
  width: 3.75em;
  height: 5.5em;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.25em;
  -webkit-box-shadow: 0 0 9px -3px #777;
  box-shadow: 0 0 9px -3px #777;
}

.also-like__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.also-like__item-title {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 600;
  color: #595959;
}

.also-like__item-price {
  font-size: 20px;
  font-weight: 600;
  line-height: 0.9;
  color: #f05356;
}

.also-like__item-btn {
  margin-top: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 24px;
  line-height: 22px;
  padding: 0 8px 2px;
  border-radius: 5px;
  background-color: #595959;
  color: #fff;
}

@media (min-width: 566px) {
  .footer-top__title i {
    display: none;
  }
}

@media (min-width: 702px) {
  .catalog__select {
    z-index: -1;
    visibility: hidden;
  }
}

@media (min-width: 839px) {
  .header__logo {
    display: none;
  }

  .menu {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }

  .menu-open-btn {
    display: none;
  }

  .side-menu__header i {
    display: none;
  }

  .gridslider {
    height: 856px;
  }

  .gridslider__btn-more {
    display: none;
  }

  .product-other__also-like {
    grid-column: 2;
    grid-row: 1/span 2;
    margin-top: 37px;
  }

  .also-like__item:not(:first-child),
  .also-like__item:visited:not(:first-child) {
    border-top: solid 1px #dedede;
  }

  .also-like__item:nth-child(n+8),
  .also-like__item:visited:nth-child(n+8) {
    display: none;
  }
}

@media (max-width: 1040px) {
  .banner__container {
    height: calc(305 / 1040 * 100vw);
  }
}

@media (max-width: 998px) {
  .logo img {
    height: 60px;
  }

  .cart {
    font-size: 15px;
  }

  .wishlist {
    font-size: 15px;
  }
}

@media (max-width: 986px) {
  .footer-top__container {
    grid-template-columns: repeat(2, auto);
    max-width: 570px;
  }

  .footer-bottom__banking-title {
    font-size: 17px;
  }

  .footer-bottom__copy {
    font-size: 14px;
  }
}

@media (max-width: 940px) {
  .gridslider__slide {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 838px) {
  .header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.08)), to(rgba(255, 255, 255, 0.08)));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.08), rgba(255, 255, 255, 0.08));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.08), rgba(255, 255, 255, 0.08));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }

  .header__hiding-menu {
    height: calc(100% - 50px);
    width: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.5s, opacity 0.5s;
    -o-transition: visibility 0.5s, opacity 0.5s;
    transition: visibility 0.5s, opacity 0.5s;
    background-color: #fff;
  }

  .header__hiding-menu._active {
    visibility: visible;
    opacity: 1;
  }

  .header-top {
    margin-bottom: 60px;
  }

  .header-top__link,
  .header-top__link:visited {
    line-height: 40px;
  }

  .header-main {
    background: none;
    float: right;
  }

  .header-main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-main__logo {
    display: none;
  }

  .header-main__search {
    margin: 0;
    position: absolute;
    top: 50px;
    left: calc(50% - 150px);
    width: 300px;
  }

  .logo img {
    height: 42px;
  }

  .search__btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
  }

  .search__btn i {
    font-size: 20px;
  }

  .search__btn span {
    font-size: 18px;
  }

  .cart {
    font-size: 14px;
    border-right: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .menu__items {
    max-height: 100%;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 10px;
  }

  .menu__link,
  .menu__link:visited {
    margin-bottom: 10px;
  }

  .menu__link:hover,
  .menu__link:visited:hover {
    background: none;
    color: #f05356;
  }

  .this-page,
  .this-page:visited {
    background: none;
    color: #f05356;
  }

  body {
    padding-top: 50px;
  }

  .container {
    padding-left: calc(15 / 838 * 100vw);
    padding-right: calc(15 / 838 * 100vw);
  }

  .content__banner {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .content__catalog {
    margin-top: 74px;
    margin-bottom: 0;
  }

  .banner__container {
    height: calc(305 / 838 * 100vw);
    padding: 0;
  }

  .banner__swiper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .banner__ad {
    display: none;
  }

  .swiper {
    background-color: transparent;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .catalog__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .side-menu {
    position: fixed;
    top: 49px;
    left: 0;
    z-index: 2;
    height: 50px;
    width: 100vw;
    overflow: hidden;
    background-color: #fff;
    border: none;
    border-bottom: solid 1px #dedede;
    padding: 0 10px 10px;
  }

  .side-menu._visible {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: calc(100vh - 49px);
  }

  .side-menu__header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
  }

  .side-menu__list {
    max-height: calc(100vh - 110px);
    overflow: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .side-menu__group:first-child {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  .side-menu__group-title,
  .side-menu__group-title:visited {
    padding-left: 0;
  }

  .side-menu__item {
    line-height: 2.2;
  }

  .side-menu a,
  .side-menu a:visited {
    padding: 0;
  }

  .side-menu a:hover,
  .side-menu a.this-page,
  .side-menu a:visited:hover,
  .side-menu a:visited.this-page {
    color: #f05356;
    background: none;
  }

  .side-menu a:hover:after,
  .side-menu a.this-page:after,
  .side-menu a:visited:hover:after,
  .side-menu a:visited.this-page:after {
    border-color: #E6E7E8;
  }

  .side-menu a.side-menu__group-title,
  .side-menu a.side-menu__group-title:visited {
    padding-left: 0;
  }

  .gridslider__slider {
    position: relative;
    padding-bottom: 10px;
  }

  .gridslider__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .gridslider__slide {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    padding: 0 4px;
    margin-bottom: 12px;
  }

  .gridslider__slide:not(:first-child):not(._visible) {
    display: none;
  }

  .gridslider__nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
    right: 0;
  }

  .gridslider__pagination {
    display: none;
  }

  .product-card__title {
    font-size: 30px;
    font-weight: 400;
  }

  .product-card__icon {
    font-size: 8px;
    line-height: 11px;
  }

  .product-card__info {
    font-size: 14px;
  }

  .product-card__cart {
    max-width: 520px;
  }

  .product-card__price-box {
    font-size: 28px;
  }

  .product-card__discount {
    font-size: 15px;
  }

  .product-card__button {
    font-size: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 42px;
    flex: 0 0 42px;
  }

  .product-other {
    grid-template-columns: auto;
  }

  .also-like__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 10px;
    grid-auto-rows: 0px;
    overflow: hidden;
  }
}

@media (max-width: 701px) {
  .catalog__container {
    padding: 0 5px;
  }

  .side-menu__header {
    padding-left: 145px;
  }

  .cat-tabs {
    margin-top: 0;
    border: none;
  }

  .cat-tabs__panel {
    display: none;
  }

  .gridslider__slider {
    margin-top: 0px;
  }

  .gridslider__slide {
    grid-template-columns: repeat(4, 1fr);
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (max-width: 565px) {
  .footer-top__container {
    grid-template-columns: repeat(1, auto);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding-left: 20px;
  }

  .footer-top__items {
    height: 0;
    overflow: hidden;
  }

  .gridslider__slide {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 496px) {
  .banner__container {
    height: calc(203 / 496 * 100vw);
  }
}

@media (max-width: 490px) {
  .tabs__btn {
    margin-right: 0;
    padding: 0 10px;
    font-size: 15px;
  }

  .tabs__btn._active {
    height: 35px;
    font-size: 16px;
    padding: 0 10px;
  }

  .tabs__content {
    padding: 12px 10px;
  }

  .product-card__wrapper {
    grid-template-columns: auto;
  }

  .product-card__image {
    width: 180px;
    margin: 0 auto;
  }

  .product-card__title {
    max-width: 100%;
  }

  .product-card__icon {
    top: 15px;
    right: 5px;
  }

  .comments-block {
    padding: 10px;
  }
}

@media (max-width: 433px) {
  .side-menu__header {
    font-size: 17px;
    line-height: 39px;
    font-weight: 600;
    padding-top: 5px;
  }

  .side-menu__header i {
    font-size: 13px;
  }

  .gridslider__slide {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 428px) {
  .header-top .container {
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
  }

  .header-top__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  .header-top__link,
  .header-top__link:visited {
    font-size: 14px;
  }

  .header-top__link:not(:last-child),
  .header-top__link:visited:not(:last-child) {
    margin-right: 0;
  }

  .cart {
    font-size: 12px;
  }

  .wishlist {
    font-size: 14px;
  }
}

@media print {
  * {
    color: black !important;
    background: none !important;
  }

  body,
  .container {
    padding: 0;
  }

  .header__print-address {
    display: block;
    font-family: Arial;
    font-size: 26px;
  }

  .noscript-alert,
  .menu,
  .menu-open-btn,
  .footer,
  .side-menu,
  .select,
  .comments-block__comment-form,
  .gridslider__btn-more,
  .product-card__button,
  .button {
    display: none;
  }

  .header {
    position: relative;
  }

  .content__catalog {
    margin-top: 10px;
  }

  .product__offer {
    background-color: #fff !important;
  }

  .tabs__content-item {
    display: block;
    margin-bottom: 20px;
  }

  .comments-block {
    page-break-before: always;
  }
}